.extension-navi {
    width: 285px;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 1000;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.extension-navi-close {
    animation: extension-navi-close 500ms forwards;
}

@keyframes extension-navi-close {
    from{
        left: 0;
    }
    to{
        left: -285px;
    }
}

.extension-navi .sidebar {
    position: relative;
    display: block;
    font-size: 25px;
    color: black;
    text-align: center;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    top: 10px;
    right: -230px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.extension-navi .sidebar > img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.extension-navi-open-btn {
    display: none;
    font-size: 25px;
    color: black;
    text-align: center;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: -40px;
    z-index: 1000;
}

.extension-navi-open-btn > img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.extension-navi-open-btn-open {
    display: block;
    animation: extension-navi-open-btn-open 300ms forwards;
}

@keyframes extension-navi-open-btn-open {
    from{
        left: 0;
    }
    to{
        left: 10px;
    }
}

.extension-navi-open-btn:hover {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
    cursor: pointer;
    color: #222222;
}

.extension-navi .sidebar:hover {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
    cursor: pointer;
    color: #222222;
}

.extension-navi .navi-h1 {
    font-weight: 900;
    color: #292929;
    font-size: 20px;
    margin: 20px 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #292929;
}

.extension-navi .navi-ul {
    margin: 10px 10px;
}

.extension-navi .navi-ul .navi-li {
    cursor: pointer;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-weight: bolder;
}

.extension-navi .navi-ul .navi-li-sub {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 0 0 5px 32px;
}

.extension-navi .navi-ul .navi-li .link-mark {
    display: block;
    margin: 5px 5px 0 0;
    flex:1 2 10px;
    position: relative;
    width: 20px;
    height: 20px;
}

.extension-navi .navi-ul .navi-li .link-mark > img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -6px;
    left: 0px;
    margin: 0;
    padding: 0;
}

.extension-navi .navi-ul .navi-li .navi-a,
.extension-navi .navi-ul .navi-li-sub .navi-a {
    font-size: 14px;
    color: #474747;
    text-decoration: underline;
    flex:1 2 100%;
    font-weight: 300;
}

.extension-navi .navi-ul .focus {
    background: rgba( 255, 255, 255, 0.80 );
    border: 1px solid #0e0e0e;
    border-radius: 10px;
    margin-bottom: 10px;
}

.extension-navi .navi-ul .focus .navi-a {
    color: #0e0e0e;
    font-weight: 900;
}